<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Agenda</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/logo.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/logo.png">

    <link rel="stylesheet" type="text/css" href="/stylesheets/roboto-font.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/material.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/myStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body style="background: #e8e8e8;">
	<br><br><br><br>
	<h1 style="text-align:center; font-size: 180px; font-family: 'Roboto', sans-serif; margin: 0;  position: relative; left: 20%; margin-right: 39%;">Erro 404</h1>
	<br>
	<h2 style="text-align: center; font-size: 40px; font-family: 'Roboto', sans-serif; margin: 0;  position: relative; left: 15%; margin-right: 30%;">Oops, você encontrou um erro, parece que a página que você estava procurando não existe.</h2>
</body>

<!-- Insert link to app.js here -->
<script src="/javascripts/material.min.js"></script>
<script src="/javascripts/dashboardPage.js"></script>
</body>

</html>