<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Agenda</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/material.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/myStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title" href="/">Minha Agenda</span>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Minha Agenda</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">Dashboard</a>
                <a class="mdl-navigation__link" href="/">Calendário</a>
                <a class="mdl-navigation__link" href="/login">Login</a>
                <a class="mdl-navigation__link" href="/signup">Cadastro</a>
                <a class="mdl-navigation__link" href="/">Sair</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="panel-content app-content">
                <!-- Conteúdo do site -->
                <div class="mdl-grid app-grid">
                    <div class="mdl-card events-title mdl-cell mdl-cell--12-col mdl-shadow--4dp">
                        <span>Eventos</span>
                        <div class="mdl-layout-spacer"></div>
                        <button class="mdl-button mdl-js-button mdl-button--accent" id="button-add-event">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <!-- Lista de eventos -->
                    <div class="events-list mdl-cell mdl-cell--12-col mdl-grid">
                        <!-- Event Template -->
                        <div class="mdl-card event-template event-card mdl-cell mdl-cell--12-col" hidden>
                            <div class="title"></div>
                            <div class="description"></div>
                            <div class="place"></div>
                            <div class="date"></div>
                        </div>
                    </div>
                    <div class="mdl-card news-title mdl-cell mdl-cell--12-col mdl-shadow--4dp">
                        <span>Notícias</span>
                        <div class="mdl-layout-spacer"></div>
                        <button class="mdl-button mdl-js-button mdl-button--accent" id="button-">
                            <i class="material-icons">settings</i>
                        </button>
                    </div>
                    <!-- Lista de notícias -->
                    <div class="news-list mdl-cell mdl-cell--12-col mdl-grid">
                        <!-- Template de Notícia -->
                        <div class="mdl-card news-template news-card mdl-cell mdl-cell--6-col" hidden>
                            <div class="mdl-card__media mdl-color-text--grey-50">
                                <h3>Notícia</h3>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                            </div>
                        </div>
                        <div class="mdl-card news-card mdl-cell mdl-cell--6-col">
                            <div class="mdl-card__media mdl-color-text--grey-50">
                                <h3>Notícia</h3>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                            </div>
                        </div>
                        <div class="mdl-card news-card mdl-cell mdl-cell--6-col">
                            <div class="mdl-card__media mdl-color-text--grey-50">
                                <h3>Notícia</h3>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                            </div>
                        </div>
                        <div class="mdl-card news-card mdl-cell mdl-cell--6-col">
                            <div class="mdl-card__media mdl-color-text--grey-50">
                                <h3>Notícia</h3>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                            </div>
                        </div>
                        <div class="mdl-card news-card mdl-cell mdl-cell--6-col">
                            <div class="mdl-card__media mdl-color-text--grey-50">
                                <h3>Notícia</h3>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                            </div>
                        </div>
                        <div class="mdl-card news-card mdl-cell mdl-cell--6-col">
                            <div class="mdl-card__media mdl-color-text--grey-50">
                                <h3>Notícia</h3>
                            </div>
                            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                                Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur
                                ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <dialog class="mdl-dialog" id="addEventDialog">
            <h4 class="mdl-dialog__title">Novo Evento</h4>
            <div class="mdl-dialog__content">
                <p>
                    Dados do evento.
                </p>
            </div>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button" id="button-confirm-event">OK</button>
                <button type="button" class="mdl-button close" id="button-cancel-event">Cancelar</button>
            </div>
        </dialog>
    </div>

    <!-- Insert link to app.js here -->
    <script src="/javascripts/material.min.js"></script>
    <script src="/javascripts/dashboardPage.js"></script>
</body>

</html>