/* 
*/

@charset "UTF-8";

.app-content {
    background: #e8e8e8;
}

.app-grid {
    max-width: 600px;
    margin: 0 auto;
}

.events-title {
    min-height: 30px;
    flex-direction: row;
    padding: 8px;
}

.event-card {
    min-height: 50px;
    flex-direction: row;
    padding: 8px;
    background: gray;
}

.news-title {
    min-height: 30px;
    flex-direction: row;
    padding: 8px;
}

.news-card {
    min-height: 300px;
}

.news-card .mdl-card__media {
    background-image: url("https://picsum.photos/300/200/?random");
    box-sizing: border-box;
    background-size: cover;
    padding: 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.news-card .mdl-card__media h3 {
    margin: 0;
}

.news-card .mdl-card__supporting-text {
    min-height: 64px;
}

.login-card {
    padding: 24px;
}